.container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    border: 1px solid whitesmoke;
    background: lightskyblue;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.grid-item-touched {
    background: darkblue;
}
